//- morsecode.pug

script(src="morsecode.js")

div.container.row
  label.col-12.thinbtn Input
  input.form-control.col-12#morse-input
  button.btn.btn-primary.col-12.thinbtn#morse-submit Submit!
  label.col-12.thinbtn Output
  input.form-control.col-12#morse-output